
.body{
    margin: 1.5rem;
}
.container{
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;  

}

.inputCRC{
    width: 16rem;
    text-align: center;
}




